.main-actividades {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.actividad {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;

    img {
        max-width: 200px;
        height: 225px;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    p {
        flex: 1;
        margin-right: 2rem;
        margin-bottom: 2rem; 
    }
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  @media (max-width: 600px) {
    .video-wrapper {
      iframe {
        width: 400px;
        height: 300px;
      }
    }
  }
  


@media screen and (max-width: 600px) {
    .actividad {
        flex-direction: column;
        align-items: center;
    }

    .actividad img, .actividad p {
        max-width: 100%;
        height: auto;
        margin-right: 0;
    }

    .actividad img {
        margin-bottom: 1rem; 
    }

    .p-medio {
        padding-left: 0;
    }
}



  