@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.precios {
  @include flex-center;
}

.precio {
  background-color: $color-dark;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 300px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  
  &:hover {
    background-color: $color-darken;
  }

  h2, .costo {
    margin: 0.5rem 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  .costo {
    font-size: 2rem;
    font-weight: bold;
  }

  ul {
    padding: 0;
    margin: 0.5rem 0;

    li {
      padding: 0.5rem 0;
      list-style: none;
    }
  }

  button {
    &:hover {
      background-color: $color-hover;
    }
  }
}

.bk-violet {
  background-color: $color-violet;
  color: white;

  a {
    color: inherit;
  }

  &:hover {
    background-color: $color-brown;
  }
}
