header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../imagenes/camuflaje.jpg");
  background-size: cover;
  color: #fff;
  padding: 1rem;
}
header nav {
  display: inline-block;
}
header nav button {
  background-color: rgba(22, 77, 46, 0.74) !important;
  display: block;
  color: #fff !important;
}
header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin-right: 1rem;
}
header nav ul li a {
  background-color: rgba(22, 77, 46, 0.74);
  display: block;
  color: #fff !important;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
