html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Cascadia Mono", sans-serif;
  line-height: 1.6;
  background-image: url("../imagenes/paintBall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

#logo {
  width: 100px;
  margin-right: 1rem;
}

.logo-index {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
}

.choice {
  height: 200px;
  width: 300px;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: width 0.5s, height 0.5s;
  border-radius: 3px;
}

.expand-height {
  height: 900px;
}

.expand {
  width: 65%;
}

.unset {
  width: 16%;
  color: black;
  background-color: #ddd;
}
.unset > div > p {
  opacity: 0;
}

.small {
  width: 5%;
  background-color: #ddd;
}
.small > div {
  opacity: 0;
}

.expand > div {
  transition-delay: 200ms;
  opacity: 1;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
