p, h1, h2, h3 {
  color: #f8f8f8;
}

.precios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.precio {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 300px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.precio:hover {
  background-color: #1c2732;
}
.precio h2, .precio .costo {
  margin: 0.5rem 0;
}
.precio h2 {
  font-size: 1.5rem;
}
.precio .costo {
  font-size: 2rem;
  font-weight: bold;
}
.precio ul {
  padding: 0;
  margin: 0.5rem 0;
  flex-grow: 1;
}
.precio ul li {
  padding: 0.5rem 0;
  list-style: none;
}
.precio button:hover {
  background-color: #00796b;
}

.bk-violet {
  background-color: blueviolet;
  color: white;
}
.bk-violet a {
  color: inherit;
}
.bk-violet:hover {
  background-color: brown;
}
