@media (max-width: 600px) {
  .video-wrapper iframe {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .actividad {
    flex-direction: column;
    align-items: center;
  }
  .actividad img, .actividad p {
    max-width: 100% !important;
    margin-left: 0;
  }
  .actividad img {
    margin-bottom: 1rem;
  }
  .p-medio {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
  form label {
    justify-self: stretch;
  }
  form button {
    grid-column: 1;
  }
}
@media (max-width: 768px) {
  ul {
    flex-direction: column;
  }
  ul li {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  .mapa iframe {
    width: 100%;
    height: 300px;
  }
  body {
    background-image: none !important;
    background-color: #00796b;
  }
}
