header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  font-size: 2rem;
}
@media (max-width: 600px) {
  .nav {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  .nav {
    font-size: 1.8rem;
  }
}
