
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    @include flexbox-center;
}


@mixin respond-to($media) {
    @if $media == 'phone' {
        @media (max-width: 600px) { @content; }
    }
    @else if $media == 'tablet' {
        @media (max-width: 900px) { @content; }
    }
}

.nav {
    font-size: 2rem;

    @include respond-to('phone') {
        font-size: 1.5rem;
    }

    @include respond-to('tablet') {
        font-size: 1.8rem;
    }
}
